img {
  position: absolute;
  transition: opacity 0.6s ease-out,
              top 2s ease-out,
              left 2s ease-out;
  opacity: 1;
}

img.portrait {
  width: 250px;
}

img.landscape {
  height: 250px;
}

img.hidden {
  opacity: 0;
}

img.avatar {
  position: fixed;
  display: none;
  width: 600px;
  top: 0;
  left: 0;
}

button {
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid seashell;
}

button.avatar {
  background-color: transparent;
  position: fixed;
  width: 80px;
  height: 80px;
  left: 405px;
}

button.avatar.A {
  top: 0;
  height: 60px;
}

button.avatar.B {
  top: 60px;
}

button.avatar.C {
  top: 140px;
}

video {
  max-height: 99vh;
  max-width: 99vw;
}

#geo-pin {
  position: absolute;
  top: 50vh;
  left: 66vw;
  transform: scale(200%);
  transition: transform 2s ease-out;
}

#geo-pin.near {
  transform: scale(200%);
}

#geo-pin.far {
  transform: scale(20%);
}

#geo-pin__pin {
  position: absolute;
  width: 30px;
  transform: translate(-50%, 0);
  transition: top 1.5s ease-in-out;
}
#geo-pin__pin.up {
  top: -65px
}
#geo-pin__pin.down {
  top: -50px
}

#geo-pin__spot {
  position: absolute;
  width: 50px;
  transform: translate(-50%, 0);
}

#geo-pin__centerer {
  position: relative;
}

#geo-pin__shadow {
  position: absolute;
  top: 11px;
  transform: translate(-50%, -50%);
  transition: width 1s ease-in-out, height 1s ease-in-out;
}
#geo-pin__shadow.up {
  width: 6px
}
#geo-pin__shadow.down {
  width: 15px
}
