body {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

img {
  position: absolute;
  transition: opacity 0.6s ease-out,
              top 2s ease-out,
              left 2s ease-out;
  opacity: 1;
}

img.portrait {
  width: 250px;
}

img.landscape {
  height: 250px;
}

img.hidden {
  opacity: 0;
}

#avatar {
  position: fixed;
  width: 555px;
  top: 0;
  left: 0;
}

#avatar.A {
  width: 588px;
}

button {
  border: 1px solid transparent;
}

button:hover {
  border: 1px solid seashell;
}

button.avatar {
  background-color: transparent;
  position: fixed;
  width: 80px;
  height: 80px;
  left: 405px;
}

button.avatar.A {
  top: 0;
  height: 60px;
}

button.avatar.B {
  top: 60px;
}

button.avatar.C {
  top: 140px;
}

button.if {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 50px;
  background-color: transparent;
  border-radius: 30px;
}

.search-panel button {
  position: absolute;
  background-color: transparent;
  top: 30px;
  height: 33px;
}

.search-panel .curtain {
  background-color: #FFF4;
  position: absolute;
  left: 24px;
  top: 5px;
  width: 222.5px;
  height: 20px;
}

.search-panel button:hover {
  border: none;
}

.search-panel button._1 {
  left: 0;
  width: 175px;
}
.search-panel button._2 {
  left: 175px;
  width: 175px;
}
.search-panel button._3 {
  left: 350px;
  width: 150px;
}

.search-panel .search.button {
  top: 70px;
  right: 0;
  width: 40px;
}

.search-panel .main {
  top: 70px;
  left: 0;
  width: 450px;
}

video {
  max-height: 99vh;
  max-width: 99vw;
}

.search-panel {
  position: relative;
  height: 30px;
  width: 500px;
  top: 500px;
  left: 650px;
  z-index: 1;
}

.search-panel .slider {
  max-width: 100%;
}

.search-panel .tab {
  position: absolute;
  top: -1px;
  left: 248.5px;
  height: 26px;
  width: 7px;
  border: 2px solid white;
  cursor: ew-resize;
  border-radius: 4px;
}

#slider-A .tab {
  background-color: #0e87a7;
}

#slider-B .tab {
  background-color: #863738;
}

#slider-C .tab {
  background-color: #4d6f7e;
}

.search-panel .value {
  z-index: 1;
  background-color: black;
  position: absolute;
  top: 37px;
  color: white;
  font-family: Arial Black;
  font-size: 10pt;
  padding: 0 2px;
  border-radius: 4px;
}

.search-panel .value.mess {
  top: -12px;
  left: 13px;
}

.search-panel input {
  position: absolute;
  top: 87px;
  left: 50px;
  width: 320px;
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
}

.search-panel .toggle {
  display: none;
}

.search-panel._0 .toggle._0,
.search-panel._1 .toggle._1,
.search-panel._2 .toggle._2,
.search-panel._3 .toggle._3 {
  display: revert;
}

.search-panel>.value._1 {
  left: 137px;
}

.search-panel>.value._2 {
  left: 314px;
}

.search-panel>.value._3 {
  left: 462px;
}

#geo-pin {
  position: absolute;
  bottom: 25vh;
  left: 50%;
  transform: scale(200%);
  transition: transform 2s ease-out;
}

#geo-pin.near {
  transform: scale(200%);
}

#geo-pin.far {
  transform: scale(20%);
}

#geo-pin__pin {
  position: absolute;
  width: 30px;
  transform: translate(-50%, 0);
  transition: top 1s ease-in-out;
}
#geo-pin__pin.up {
  top: -65px
}
#geo-pin__pin.down {
  top: -25px
}

#geo-pin__spot {
  position: absolute;
  width: 50px;
  transform: translate(-50%, 0);
}

#geo-pin__centerer {
  position: relative;
}

#geo-pin__shadow {
  position: absolute;
  top: 11px;
  transform: translate(-50%, -50%);
  transition: width 1s ease-in-out, height 1s ease-in-out;
}
#geo-pin__shadow.up {
  width: 6px
}
#geo-pin__shadow.down {
  width: 15px
}

#geo-pin .friend {
  height: 400px;
  bottom: -60px;
}

@media (max-width: 480px) {
  img {
    position: static;
    transition: opacity 0.6s ease-out;
  }
  img.portrait,
  img.landscape {
    width: 100%;
    height: auto;
  }
}

.pill-container {
  position: absolute;
  top: 160px;
  height: 100px;
  width: 600px;
}
.search-term {
  border-radius: 100px;
  background-color: #12769d;
  color: white;
  display: inline;
  padding: 5px 10px;
  border: 2px solid;
  margin-left: 5px;
}
